
{% extends "base.html" %}
{% block styles %}
  {{ block.super }}
    <style>
        .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        h2 {
          color: #000;
          text-align: center;
          font-family: Pretendard;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.0045rem;
        }
        p {
          width: 25.75rem;
          color: #000;
          text-align: center;
          font-family: Pretendard;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: 148%; 
          letter-spacing: -0.00375rem;
          margin: 1.375rem 0 2.625rem 0;
        }
        .email_input{
          width: 23.4375rem;
          height: 3.875rem;
          border-radius: 0.25rem;
          border: 0.0625rem solid #BFBFBF;
          padding-left: 0.75rem;
        }
        .submit_btn{
          margin-top: 0.625rem;
          width: 24.4875rem;
          height: 3.875rem;
          border: none;
          border-radius: 0.28125rem;
          background: #5144ED;
          color: #FFF;
          text-align: center;
          font-family: Pretendard;
          font-size: 1.04375rem;
          font-style: normal;
          font-weight: 600;
          line-height: 2.34375rem; 
          padding: 0;
        }
        .post_form{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container">
  <h2>비밀번호 초기화</h2>
  <p>비밀번호를 잊어버렸나요? 이메일 주소를 아래에<br>입력하시면 새로운 비밀번호 설정을 도와드리겠습니다.</p>
  <form class="post_form" method="post">{% csrf_token %}
      <input type="email" name="email" placeholder="이메일을 입력하세요" class="email_input">
      <input class="submit_btn" type="submit" value="확인">
  </form>
</div>
{% endblock %}

