{% extends "base.html" %}
{% block styles %}
  {{ block.super }}
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h2 {
            color: #000;
            text-align: center;
            font-family: Pretendard;
            font-size: 1.53125rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.0045625rem;
        }
        p {
            margin: 1.625rem 0 1.9375rem 0;
            color: #000;
            text-align: center;
            font-family: Pretendard;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 500;
            line-height: 148%; 
            letter-spacing: -0.00375rem;
        }
        .container > a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 7.625rem;
            height: 3.5rem;
            border-radius: 0.25rem;
            background: #5144ED;
            color: #FFF;
            text-align: center;
            font-family: Pretendard;
            font-size: 0.9375rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2.10625rem;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <h2>비밀번호 초기화 완료</h2>
    <p>비밀번호가 설정 되었습니다. 이제 로그인하세요.</p>
    <a href="https://www.findlolchess.kro.kr/login">로그인</a>
  </div>
{% endblock %}